<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <img src="images/kde-logo.png"/> Binary Release Mechanisms
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>As GNU/Linux keeps evolving and breaking barriers to create more approachable technologies, software distribution does not get left behind. In 2016 we witnessed the growth of 3 prominent technologies: <a href="http://flatpak.org/" target="_blank">Flatpak</a>, <a href="https://snapcraft.io/" target="_blank">Snappy</a> and <a href="http://appimage.org/" target="_blank">AppImage</a>.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>A new approach like this is an exciting opportunity for us, and it will allow for a more agile and direct relationship between users and contributors. KDE will be able to provide solutions to problems as they appear, instead of waiting for completion of the whole release cycle.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The KDE Community aims to ensure that our software is adopted wherever it's needed. These new mechanisms will allow us to make the latest stable versions available to anyone who wants to use them, in contrast with just releasing source code which can be intimidating to the end users. This will happen in parallel with creating native packages for other platforms, like Android, MacOS and Windows.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Moreover, this could simplify the development process in some cases, which is important to us. We want to make sure the curve to creation is as gradual as possible, but we are not there yet. KDE needs to make an effort to ensure those technologies are reliable, both on the level of our software, and on the platform level. We will continue working on this in the coming years as we aim to provide the best products and experiences.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
