<section id="welcome-message">
    <div class="container">
        <div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Welcome Message</h2>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="row">
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <p>As another year comes to an end, recapping everything the KDE Community accomplished during that period is rapidly becoming quite a challenging task. Unlike our previous reports, this one provides a comprehensive overview of all relevant socio-technical activities we carried out in 2016. That also includes a lot of exciting news.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <p>To reinforce our permanent interest in strengthening relationships with FLOSS organizations and companies that share our vision, we have established the KDE e.V. Advisory Board. It enables a direct communication path to discuss common interests, organize joint efforts, and mitigate potential threats.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <p>QtCon, held in Berlin Convention Center from the 1st to 4th of September 2016, was a joint effort by KDE, The Qt Company, Free Software Foundation Europe (FSFE), and VideoLAN. Hundreds of Qt enthusiasts gathered to celebrate 20 years of KDE, 15 years of FSFE, and 15 years of VideoLAN.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <p>In 2016, we had the pleasure of having Canonical join the outstanding group of KDE Patrons, which already includes Google, SUSE, The Qt Company, and Blue Systems. We celebrated the addition of Randa Meetings Association as a new KDE Community Partner, and we also joined The Document Foundation's Advisory Board.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <p>2016 also featured some unforgettable events that made many gearheads proud: a celebration of the 20th anniversary of KDE; the announcement of the book "20 Years of KDE: Past, Present and Future"; an amazing Akademy as part of QtCon, and several birthday parties around the world.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <p>As for the technical aspects, in 2016 a lot of effort has been devoted to developing KDE technologies for mobile devices, leveraging continuous release through KDE neon, and evaluating distribution-agnostic packaging mechanisms. Last but not least, our administrative workforce has been significantly improved with the hiring of Petra Gillert as the assistant to the KDE e.V. Board of Directors.</p>
                                <br/>
                                <p>Enjoy the reading!</p>
                                <br/>
                                <p><strong>Sandro Andrade</strong><br/>for the KDE e.V. Board of Directors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
