<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    There is a strong sense of gratitude and admiration I have toward the KDE community. From originators to newcomers, every person I had the pleasure of meeting associated with KDE chooses to make the world a better place through selfless action. In short, KDE makes the world a better place. A huge thank you for the inspiration each of you give and the commitment Konqis make toward software freedom.
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Douglas DeMaio, openSUSE Project Coordinator/Manager/Marketing</i>
    </p>
  </div>
</blockquote>

<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    blah blah
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Blah Blah</i>
    </p>
  </div>
</blockquote>

<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    blah blah
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Blah Blah</i>
    </p>
  </div>
</blockquote>

<blockquote class="py-3">
  <span class="fa fa-3x fa-quote-right"></span>
  <p class="block-text">
    blah blah
  </p>
  <hr>
  <div>
    <p class="float-xs-left">
      <i>Blah Blah</i>
    </p>
  </div>
</blockquote>
