<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://www.kde.org/applications/office/kontact/" target="_blank"><img src="images/kde-pim-logo.png"/> KDE PIM Sprint</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The KDE PIM Sprint took place in the spring of 2017, in Toulouse, France. We would like to thank <a href="https://www.ekito.fr" target="_blank">Ekito</a>, an open source-friendly software company for letting us organize the sprint in their Toulouse office, just like last year. This year we built on the work from our previous sprints, and focused on reducing library dependencies, creating a better internal architecture, and cleaning up the codebase. Volker Krause kept working on KDateTime/KTimeZone porting; the project he started last year with John Layt. </p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>On the <a href="https://userbase.kde.org/Akonadi" target="_blank">Akonadi</a> side, Dan Vratil fixed bugs in the Search feature. He began working on the implementation of server-side change-recording in the Akonadi server. This feature will bring a significant performance optimization and fix many of the current asynchronous problems. Our young project <a href="https://zanshin.kde.org/" target="_blank">Zanshin</a> has also seen some improvements. Franck worked on the task recurrence support, and Kevin prepared the new architecture planned for the 0.5.0 release. This design will introduce a cache system, leading to big performance improvements.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>Volker also found the time to fix bugs related to handling cross-time zones or cross-DST recurring events in KOrganizer. David, as usual, spent a lot of time debugging and improving <a href="https://userbase.kde.org/KMail" target="_blank">KMail</a>. Laurent focused on the Sieve Editor, and produced a new feature that allows importing sieve and IMAP configurations coming from KMail or Thunderbird. Sandro helped splitting messageViewer and mimeTreeParser, and spent time trying to make the CI a better place.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Big thanks to all the participants &#8210; Franck Arrecot, David Faure, Sandro Knauß, Volker Krause, Laurent Montel, Kevin Ottens and Dan Vratil &#8210; for keeping the PIM sprint alive in 2017. The next PIM sprint will see us returning to Toulouse, where we will expand on our current objectives. Simplifying and optimizing the code is crucial for maintaining the PIM project, as well as for attracting new developers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
